<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xmontiarc -->
      <package
            uri="http://ur1/diverse/xmontiarc/model"
            class="xmontiarc.XmontiarcPackage"
            genModel="ur1.diverse.xmontiarc.model/xmontiarc.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="ur1.diverse.xmontiarc.model.category1"
            name="name">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://ur1/diverse/xmontiarc/model">
         </package>
         <constraints>
            <constraint
                  class="constraints.AllNamesValid"
                  id="ur1.diverse.xmontiarc.model.AllNamesValid"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="AllNamesValid"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
            </constraint>
            <constraint
                  class="constraints.AllPortsConnected"
                  id="ur1.diverse.xmontiarc.model.AllPortsConnected"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="AllPortsConnected"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
            </constraint>
            <constraint
                  class="constraints.ConnectedPortsAreTypeCompatible"
                  id="ur1.diverse.xmontiarc.model.ConnectedPortsAreTypeCompatible"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="ConnectedPortsAreTypeCompatible"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
            </constraint>
            <constraint
                  class="constraints.NoMultipleIncomingConnectorsPerPort"
                  id="ur1.diverse.xmontiarc.model.NoMultipleIncomingConnectorsPerPort"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="NoMultipleIncomingConnectorsPerPort"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  message body text
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
