/XmontiarcFactoryAdapter.java
/.OutgoingConnectorAdapter.java._trace
/.StringVariableAdapter.java._trace
/.NumberGuardAdapter.java._trace
/EqualNumberGuardAdapter.java
/.GreaterThanNumberGuardAdapter.java._trace
