<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated automata -->
      <package
            uri="http://ur1/diverse/automata/model"
            class="automata.AutomataPackage"
            genModel="ur1.diverse.automata.model/automata.genmodel"/>
   </extension>

</plugin>
