<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated XMontiArcMT -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ur1.diverse.xmontiarc.xdsml.xmontiarcmt.xmontiarc.presentation.XmontiarcModelWizardID"
            name="%_UI_XmontiarcModelWizard_label"
            class="ur1.diverse.xmontiarc.xdsml.xmontiarcmt.xmontiarc.presentation.XmontiarcModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/XmontiarcModelFile.gif">
         <description>%_UI_XmontiarcModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated XMontiArcMT -->
      <editor
            id="ur1.diverse.xmontiarc.xdsml.xmontiarcmt.xmontiarc.presentation.XmontiarcEditorID"
            name="%_UI_XmontiarcEditor_label"
            icon="icons/full/obj16/XmontiarcModelFile.gif"
            extensions="xmontiarc"
            class="ur1.diverse.xmontiarc.xdsml.xmontiarcmt.xmontiarc.presentation.XmontiarcEditor"
            contributorClass="ur1.diverse.xmontiarc.xdsml.xmontiarcmt.xmontiarc.presentation.XmontiarcActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated XMontiArcMT -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ur1.diverse.xmontiarc.xdsml.xmontiarcmt.runtime.presentation.RuntimeModelWizardID"
            name="%_UI_RuntimeModelWizard_label"
            class="ur1.diverse.xmontiarc.xdsml.xmontiarcmt.runtime.presentation.RuntimeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RuntimeModelFile.gif">
         <description>%_UI_RuntimeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated XMontiArcMT -->
      <editor
            id="ur1.diverse.xmontiarc.xdsml.xmontiarcmt.runtime.presentation.RuntimeEditorID"
            name="%_UI_RuntimeEditor_label"
            icon="icons/full/obj16/RuntimeModelFile.gif"
            extensions="runtime"
            class="ur1.diverse.xmontiarc.xdsml.xmontiarcmt.runtime.presentation.RuntimeEditor"
            contributorClass="ur1.diverse.xmontiarc.xdsml.xmontiarcmt.runtime.presentation.RuntimeActionBarContributor">
      </editor>
   </extension>

</plugin>
