<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsm.design.Activator"
               id="ur1.diverse.xmontiarc.design"
	       name="xmontiarc">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsm.design.CreateSubcomponentAction"
           id="ur1.diverse.xmontiarc.design.CreateSubcomponentAction1">
     </javaActions>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsm.design.CreateIncomingConnectorAction"
           id="ur1.diverse.xmontiarc.design.CreateIncomingConnectorAction1">
     </javaActions>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsm.design.CreateIntermediateConnectorAction"
           id="ur1.diverse.xmontiarc.design.CreateIntermediateConnectorAction1">
     </javaActions>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsm.design.CreateOutgoingConnectorAction"
           id="ur1.diverse.xmontiarc.design.CreateOutgoingConnectorAction1">
     </javaActions>
  </extension>
</plugin>
