<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="ur1.diverse.montiarc.xdsml.XMontiArc" xdsmlFilePath="/ur1.diverse.montiarc.xdsml/bin/ur1/diverse/montiarc/xdsml/montiarc.melange" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XMontiArcMT -->
    <package class="ur1.diverse.montiarc.xdsml.xmontiarcmt.montiarcruntime.MontiarcruntimePackage" genModel="model-gen/XMontiArcMT.genmodel" uri="http://ur1.diverse.montiarc.xdsml.xmontiarcmt/montiarcruntime/" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XMontiArcMT -->
    <package class="ur1.diverse.montiarc.xdsml.xmontiarcmt.montiarc.MontiarcPackage" genModel="model-gen/XMontiArcMT.genmodel" uri="http://ur1.diverse.montiarc.xdsml.xmontiarcmt/montiarc/" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XMontiArcMT -->
    <package class="ur1.diverse.montiarc.xdsml.xmontiarcmt.cd.CdPackage" genModel="model-gen/XMontiArcMT.genmodel" uri="http://ur1.diverse.montiarc.xdsml.xmontiarcmt/cd/" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="ur1.diverse.montiarc.xdsml.XMontiArcMT" uri="http://ur1.diverse.montiarc.xdsml.xmontiarcmt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="Connector:ur1.diverse.montiarc.xdsml.xmontiarc.aspects.ConnectorAspect;ComponentType:ur1.diverse.montiarc.xdsml.xmontiarc.aspects.ComponentTypeAspect;SubcomponentDeclaration:ur1.diverse.montiarc.xdsml.xmontiarc.aspects.SubcomponentDeclarationAspect;Port:ur1.diverse.montiarc.xdsml.xmontiarc.aspects.PortAspect" entryPoints="ur1.diverse.montiarc.xdsml.xmontiarc.aspects.ComponentTypeAspect.compute(ur1.diverse.montiarc.xdsml.xmontiarc.montiarc.ComponentType)" exactType="ur1.diverse.montiarc.xdsml.XMontiArcMT" id="ur1.diverse.montiarc.xdsml.XMontiArc" uri="http://ur1.diverse.montiarc.xdsml.xmontiarc/montiarc/">
      <adapter class="ur1.diverse.montiarc.xdsml.xmontiarc.adapters.xmontiarcmt.XMontiArcAdapter" modeltypeId="ur1.diverse.montiarc.xdsml.XMontiArcMT" />
    </language>
  </extension>
</plugin>
