<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated runtime -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="runtime.presentation.RuntimeModelWizardID"
            name="%_UI_RuntimeModelWizard_label"
            class="runtime.presentation.RuntimeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RuntimeModelFile.gif">
         <description>%_UI_RuntimeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated runtime -->
      <editor
            id="runtime.presentation.RuntimeEditorID"
            name="%_UI_RuntimeEditor_label"
            icon="icons/full/obj16/RuntimeModelFile.gif"
            extensions="runtime"
            class="runtime.presentation.RuntimeEditor"
            contributorClass="runtime.presentation.RuntimeActionBarContributor">
      </editor>
   </extension>

</plugin>
