<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated montiarc -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="montiarc.presentation.MontiarcModelWizardID"
            name="%_UI_MontiarcModelWizard_label"
            class="montiarc.presentation.MontiarcModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MontiarcModelFile.gif">
         <description>%_UI_MontiarcModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated montiarc -->
      <editor
            id="montiarc.presentation.MontiarcEditorID"
            name="%_UI_MontiarcEditor_label"
            icon="icons/full/obj16/MontiarcModelFile.gif"
            extensions="montiarc"
            class="montiarc.presentation.MontiarcEditor"
            contributorClass="montiarc.presentation.MontiarcActionBarContributor">
      </editor>
   </extension>

</plugin>
