<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
-->
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated montiarcTrace -->
    <package uri="montiarcTrace" class="montiarcTrace.MontiarcTracePackage" genModel="model/montiarcTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated montiarcTrace -->
    <package uri="montiarcTrace_Steps" class="montiarcTrace.Steps.StepsPackage" genModel="model/montiarcTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated montiarcTrace -->
    <package uri="montiarcTrace_States" class="montiarcTrace.States.StatesPackage" genModel="model/montiarcTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated montiarcTrace -->
    <package uri="montiarcTrace_montiarc" class="montiarcTrace.States.montiarc.MontiarcPackage" genModel="model/montiarcTrace.genmodel" />
  </extension>
  <extension point="org.gemoc.gemoc_language_workbench.engine_addon">
    <Addon Class="ur1.diverse.montiarc.xmontiarc.trace.tracemanager.MontiarcTraceEngineAddon" Default="false" id="ur1.diverse.montiarc.xmontiarc.trace" Name="montiarc MultiDimensional Trace" ShortDescription="MultiDimensional Trace support dedicated to montiarc language" openViewIds="org.gemoc.sequential_addons.multidimensional.timeline.views.timeline.MultidimensionalTimeLineView" AddonGroupId="Sequential.AddonGroup" />
  </extension>
</plugin>
