<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XPortAutomata -->
      <package
            uri="http://org.gemoc.xportautomata.xfsm.xportautomata/fsm/"
            class="org.gemoc.xportautomata.xfsm.xportautomata.fsm.FsmPackage"
            genModel="model/XPortAutomata.genmodel"/>
   </extension>

</plugin>
