<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="ur1.diverse.xmontiarc.debug.design.Activator"
               id="ur1.diverse.xmontiarc.debug.design"
	       name="xmontiarcdebug">
    </component>
  </extension>
</plugin>
