<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated runtime -->
      <package
            uri="http://ur1/diverse/xmontiarc/runtime/model"
            class="runtime.RuntimePackage"
            genModel="ur1.diverse.xmontiarc.runtime.model/runtime.genmodel"/>
   </extension>

</plugin>
