<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated xmontiarc -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="xmontiarc.presentation.XmontiarcModelWizardID"
            name="%_UI_XmontiarcModelWizard_label"
            class="xmontiarc.presentation.XmontiarcModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/XmontiarcModelFile.gif">
         <description>%_UI_XmontiarcModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated xmontiarc -->
      <editor
            id="xmontiarc.presentation.XmontiarcEditorID"
            name="%_UI_XmontiarcEditor_label"
            icon="icons/full/obj16/XmontiarcModelFile.gif"
            extensions="xmontiarc"
            class="xmontiarc.presentation.XmontiarcEditor"
            contributorClass="xmontiarc.presentation.XmontiarcActionBarContributor">
      </editor>
   </extension>

</plugin>
