<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XSFSMMT -->
    <package class="ur1.diverse.xmontiarcwithautomaton.xdsml.xsfsmmt.fsm.FsmPackage" genModel="model-gen/XSFSMMT.genmodel" uri="http://ur1.diverse.xmontiarcwithautomaton.xdsml.xsfsmmt/fsm/" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XMontiArcMT -->
    <package class="ur1.diverse.xmontiarcwithautomaton.xdsml.xmontiarcmt.xmontiarc.XmontiarcPackage" genModel="model-gen/XMontiArcMT.genmodel" uri="http://ur1.diverse.xmontiarcwithautomaton.xdsml.xmontiarcmt/xmontiarc/" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XMontiArcWithAutomatonMT -->
    <package class="ur1.diverse.xmontiarcwithautomaton.xdsml.xmontiarcwithautomatonmt.xmontiarc.XmontiarcPackage" genModel="model-gen/XMontiArcWithAutomatonMT.genmodel" uri="http://ur1.diverse.xmontiarcwithautomaton.xdsml.xmontiarcwithautomatonmt/xmontiarc/" />
  </extension>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.xmontiarcfsm.xdsml.XMontiArcFSM" xdsmlFilePath="/org.gemoc.xmontiarcfsm.xdsml/bin/org/gemoc/xmontiarcfsm/xdsml/xmontiarcfsm.melange" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XMontiArcFSMMT -->
    <package class="org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsmmt.montiarc.MontiarcPackage" genModel="model-gen/XMontiArcFSMMT.genmodel" uri="http://org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsmmt/montiarc/" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XMontiArcFSMMT -->
    <package class="org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsmmt.xmontiarc.XmontiarcPackage" genModel="model-gen/XMontiArcFSMMT.genmodel" uri="http://org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsmmt/xmontiarc/" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.gemoc.xmontiarcfsm.xdsml.XMontiArcFSMMT" uri="http://org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsmmt/">
      <subtyping modeltypeId="org.gemoc.montiarc.MontiArcMT" />
      <subtyping modeltypeId="org.gemoc.xmontiarc.xdsml.XMontiArcMT" />
    </modeltype>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="Connector:org.gemoc.xmontiarc.xdsml.xmontiarc.aspects.ConnectorAspect;ComponentType:org.gemoc.xmontiarc.xdsml.xmontiarc.aspects.ComponentTypeAspect;Port:org.gemoc.xmontiarc.xdsml.xmontiarc.aspects.PortAspect;Subcomponent:org.gemoc.xmontiarc.xdsml.xmontiarc.aspects.SubcomponentAspect" entryPoints="org.gemoc.xmontiarc.xdsml.xmontiarc.aspects.ComponentTypeAspect.main(org.gemoc.xmontiarc.xdsml.xmontiarc.montiarc.ComponentType)" exactType="org.gemoc.xmontiarcfsm.xdsml.XMontiArcFSMMT" id="org.gemoc.xmontiarcfsm.xdsml.XMontiArcFSM" uri="http://org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsm/xmontiarc/">
      <adapter class="org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsm.adapters.montiarcmt.XMontiArcFSMAdapter" modeltypeId="org.gemoc.montiarc.MontiArcMT" />
      <adapter class="org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsm.adapters.xmontiarcmt.XMontiArcFSMAdapter" modeltypeId="org.gemoc.xmontiarc.xdsml.XMontiArcMT" />
      <adapter class="org.gemoc.xmontiarcfsm.xdsml.xmontiarcfsm.adapters.xmontiarcfsmmt.XMontiArcFSMAdapter" modeltypeId="org.gemoc.xmontiarcfsm.xdsml.XMontiArcFSMMT" />
    </language>
  </extension>
</plugin>
