<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XMontiArc -->
      <package
            uri="http://ur1.diverse.montiarc.xdsml.xmontiarc/montiarc/"
            class="ur1.diverse.montiarc.xdsml.xmontiarc.montiarc.MontiarcPackage"
            genModel="model/XMontiArc.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XMontiArc -->
      <package
            uri="http://ur1.diverse.montiarc.xdsml.xmontiarc/montiarcruntime/"
            class="ur1.diverse.montiarc.xdsml.xmontiarc.montiarcruntime.MontiarcruntimePackage"
            genModel="model/XMontiArc.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XMontiArc -->
      <package
            uri="http://ur1.diverse.montiarc.xdsml.xmontiarc/cd/"
            class="ur1.diverse.montiarc.xdsml.xmontiarc.cd.CdPackage"
            genModel="model/XMontiArc.genmodel"/>
   </extension>
</plugin>
