/XmontiarcFactoryAdapter.java
/.ConnectorAdapter.java._trace
/.OutgoingConnectorAdapter.java._trace
/.SubcomponentAdapter.java._trace
/.ActionAdapter.java._trace
/.GreaterOrEqualThanNumberGuardAdapter.java._trace
/.LessOrEqualThanNumberGuardAdapter.java._trace
