<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
-->
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated fsm -->
    <package class="org.gemoc.sample.legacyfsm.fsm.FsmPackage" genModel="model/fsm.genmodel" uri="http://www.gemoc.org/legacyfsm/fsm" />
  </extension>
  null
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated portautomata -->
    <package class="org.gemoc.portautomata.fsm.fsmPackage" genModel="model/portautomata.genmodel" uri="http://www.gemoc.org/legacyfsm/fsm" />
  </extension>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.gemoc.portautomata.PortAutomata" xdsmlFilePath="/org.gemoc.portautomata.model/bin/org/gemoc/portautomata/PortAutomata.melange" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.gemoc.portautomata.PortAutomataMT" uri="http://org.gemoc.portautomata.portautomatamt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="org.gemoc.portautomata.PortAutomataMT" id="org.gemoc.portautomata.PortAutomata" uri="http://www.gemoc.org/legacyfsm/fsm" />
  </extension>
</plugin>
