<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XSFSM -->
      <package
            uri="http://ur1.diverse.xmontiarcwithautomaton.xdsml.xsfsm/fsm/"
            class="ur1.diverse.xmontiarcwithautomaton.xdsml.xsfsm.fsm.FsmPackage"
            genModel="model/XSFSM.genmodel"/>
   </extension>

</plugin>
